<template>
  <div class="portrait">
    <img :src="imgUrl" alt="userportrait" />
    <p>{{username}}</p>
  </div>
</template>

<script>
export default {
  props: ["imgUrl", "username"],
};
</script>

<style scoped>
.portrait {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* margin-right: 10rem; */
  position: relative;
  /* justify-content: center; */
}

.portrait img {
  width: 3rem;
  height: auto;
  border-radius: 50%;
  margin: 0 0.5rem;
}
</style>
