<template>
  <div :class="cssClasses.join(' ')">
    <transition-group tag="ul" name="item-list">
      <ItemModal v-for="item in cartItems" :item="item" :key="item.item.code" />
    </transition-group>
    <hr class="hr" />
    <Totalizer :visible="visible"></Totalizer>
  </div>
</template>

<script>
import Totalizer from "./Totalizer.vue";
import ItemModal from "../UI/ItemModal.vue";
import { useStore } from "vuex";
import { computed, watch, ref } from "vue";

export default {
  props: ["visible"],
  components: { Totalizer, ItemModal },
  setup() {
    const store = useStore();

    const cssClasses = ref(["modal_opening"]);

    const premodal = computed(() => {
      return store.getters["cart/premodal"];
    });

    setTimeout(() => {
      cssClasses.value = ["modal"];
    }, 50);

    watch(premodal, (nval) => {
      if (nval) {
        cssClasses.value = ["modal", "modal_closing"];
      }
    });

    const cartItems = computed(() => {
      return store.getters["cart/cartItems"];
    });

    return { cssClasses, cartItems };
  },
};
</script>

<style scoped>
.item-list-enter-to {
  opacity: 1;
}

.item-list-enter-from {
  opacity: 0;
}

.item-list-enter-active {
  transition: opacity 0.3s ease-in;
}

.item-list-leave-from {
  transform: translateY(0);
  opacity: 1;
}
.item-list-leave-to {
  transform: translateY(-5rem);
  opacity: 0;
}
.item-list-leave-active {
  transition: all 0.3s ease-in;
}

.modal {
  position: absolute;
  width: 48vw;
  max-height: 50vh;
  top: 22.5vh;
  left: 24vw;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  z-index: 105;
  transform: translateY(0);
  overflow-y: auto;
  transition: transform 300ms ease-in;
}

.modal_opening {
  position: absolute;
  width: 48vw;
  max-height: 50vh;
  top: 22.5vh;
  left: 24vw;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  z-index: 105;
  transform: translateY(-10rem);
}

.modal_closing {
  transform: translateY(10rem);
  transition: transform 300ms ease-out;
}

.hr {
  z-index: 105;
  flex: 0 0 100%;
  border-top: 2px dashed red;
  margin-top: 2rem;
  height: 0.1rem;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transform: translateY(-5rem);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.testing {
  width: 100%;
  transform: translateY(0);
}
</style>
