<template>
  <teleport to="body">
    <div :class="cssClasses.join(' ')">
      <div @click="closeModal" class="backdrop"></div>
      <slot></slot>
    </div>
  </teleport>
</template>

<script>
import { useStore } from "vuex";
import { computed, watch, ref } from "vue";

export default {
  setup() {
    const store = useStore();

    const cssClasses = ref(["dialog_entering"]);

    setTimeout(() => {
      cssClasses.value = ["dialog"];
    }, 20);

    const premodal = computed(() => {
      return store.getters["cart/premodal"];
    });

    watch(premodal, (nval) => {
      if (nval) {
        cssClasses.value = ["dialog", "dialog_closing"];
      }
    });

    const closeModal = () => {
      store.dispatch("cart/closeModal");
    };
    return { closeModal, cssClasses };
  },
};
</script>

<style scoped>
.content {
  width: 100vw;
  height: 100vh;
  z-index: 150;
}

.content button {
  margin-top: 0.5rem;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.dialog {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

dialog_entering {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}

dialog_closing {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
</style>
