<template>
  <nav class="nav">
    <Finder :onChangeHandler="onChangeHandler" placeholder="Buscar Productos" />
    <div class="rightpos">
      <CartButton />
      <base-button
        v-if="!isAuthenticated"
        :clickHandler="startSessionHandler"
        width="8rem"
        >Iniciar Sesion</base-button
      >
      <div
        @mouseenter="fatherHoverHandler"
        @mouseleave="fatherUnhoverHandler"
        v-else
        class="authContainer"
      >
        <AuthUser :username="username" :imgUrl="imgUrl" />
        <Accordion
          v-if="isButtonVisible"
          :visible="closeAccordion"
          :onClickHandler="logoutHandler"
        />
      </div>
    </div>
  </nav>
</template>

<script>
import Finder from "../UI/Finder";
import CartButton from "../UI/CartButton";
import Accordion from "../UI/Accordion";
import AuthUser from "./AuthUser";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { computed, ref } from "vue";

export default {
  components: {
    Finder,
    CartButton,
    Accordion,
    AuthUser,
  },
  setup() {
    const isButtonVisible = ref(false);
    const closeAccordion = ref(false);
    const router = useRouter();
    const store = useStore();

    const isAuthenticated = computed(() => {
      return store.getters["auth/isAuthenticated"];
    });

    const username = computed(() => {
      return store.getters["auth/userName"];
    });

    const imgUrl = computed(() => {
      return store.getters["auth/imgUrl"];
    });

    const logoutHandler = () => {
      localStorage.removeItem("token");
      store.dispatch("auth/logout");
      store.dispatch("cart/setCart", []);
    };

    const startSessionHandler = () => {
      router.push("/googleauth");
    };

    const fatherUnhoverHandler = () => {
      closeAccordion.value = true;
      timer = setTimeout(() => {
        isButtonVisible.value = false;
      }, 200);
    };

    let timer;

    const fatherHoverHandler = () => {
      closeAccordion.value = false;
      clearTimeout(timer);
      isButtonVisible.value = true;
    };

    const onChangeHandler = (data) => {
      store.dispatch("items/filterItemsByName", data);
    };

    return {
      onChangeHandler,
      startSessionHandler,
      isAuthenticated,
      username,
      imgUrl,
      logoutHandler,
      fatherHoverHandler,
      fatherUnhoverHandler,
      isButtonVisible,
      closeAccordion
    };
  },
};
</script>

<style scoped>
.nav {
  display: flex;
  position: fixed;
  left: 20vw;
  padding: 0.4rem 1.3rem;
  width: 80vw;
  height: 4rem;
  top: 0;
  box-shadow: 0.1rem 0.1rem 0.5rem #888888;
  z-index: 50;
  background-color: white;
}

.rightpos {
  justify-self: flex-end;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.authContainer {
  position: relative;
  top: 0;
  right: 0;
  width: 10rem;
}
</style>
