<template>
  <div id="sidebar" class="sidebar">
    <h1 class="sidebar-title">Secciones</h1>
    <button
      @click="typeSelectionHandler(item)"
      class="sidebar-button"
      v-for="item in items"
      :key="item"
    >
      {{ item }}
    </button>
  </div>
</template>

<script>
import { ref } from "vue";
import { useStore } from "vuex";

export default {
  setup() {
    const store = useStore();

    const items = ref(["Todos","Carnes" , "Tecnologia"]);

    const typeSelectionHandler = item => {
      store.dispatch("items/filterItemsByType", item);
    };

    return { items, typeSelectionHandler };
  },
};
</script>

<style scoped>
.sidebar {
  position: fixed;
  width: 20vw;
  height: 100vh;
  border: 0.1rem solid rgba(0.2, 0.2, 0.2, 0.15);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  text-align: center;
  color: black;
}

.sidebar-button {
  height: 3rem;
  border: none;
  margin: 0.1rem 0;
  width: 100%;
  background-color: aliceblue;
  cursor: pointer;
  color: rgb(3, 0, 201);
}
</style>
