<template>
  <div :class="cssClasses.join(' ')">
    <div class="imgcontainer">
      <img :src="item.imageUrl" :alt="alttext" />
    </div>
    <div class="contentcontainer">
      <div class="closing_button_container">
        <button @click="closeModal" class="closing_button">X</button>
      </div>
      <h1>{{ item.description }}</h1>
      <p class="h3">SKU: {{ item.code }}</p>
      <span> $ {{ item.price }} /{{ item.unit }} </span>
      <hr />
      <div class="quantity_container">
        <button @click="removeHandler" class="white_button">-</button>
        <input :key="1" type="number" v-model="quantity" />
        <button @click="addHandler" class="green_button">+</button>
      </div>
      <div class="button_container">
        <base-button :clickHandler="onAddToCart" width="20rem">
          Anadir al Carrito
        </base-button>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { ref, computed, watch } from "vue";
import useRedirect from "../../hooks/redirect.js";

export default {
  props: ["isVisible", "alttext"],
  setup() {
    const redirect = useRedirect();
    const store = useStore();
    const quantity = ref(1);
    const cssClasses = ref(["modal_entering"]);
    const premodal = computed(() => {
      return store.getters["cart/premodal"];
    });

    setTimeout(() => {
      cssClasses.value = [ "modal"];
    }, 20);

    watch(premodal, (nval) => {
      if (nval) {
        cssClasses.value = ["modal", "modal_closing"];
      }
    });

    const item = computed(() => {
      return store.getters["cart/item"];
    });

    const isAuth = computed(() => {
      return store.getters["auth/isAuthenticated"];
    });

    const addHandler = () => {
      quantity.value++;
    };

    const removeHandler = () => {
      if (quantity.value > 1) {
        quantity.value--;
      }
    };

    const closeModal = () => {
      store.dispatch("cart/closeModal");
    };

    const onAddToCart = () => {
      if (isAuth.value) {
        store.dispatch("cart/addToCart", {
          item: item.value,
          quantity: quantity.value,
        });
        store.dispatch("cart/closeModal");
      } else {
        redirect(
          "/googleauth",
          "No se encuentra autentificado. Redireccionando ..."
        );
      }
    };

    return {
      closeModal,
      removeHandler,
      addHandler,
      onAddToCart,
      item,
      quantity,
      cssClasses,
    };
  },
};
</script>

<style scoped>
.modal {
  position: absolute;
  width: 48vw;
  height: 55vh;
  top: 22.5vh;
  left: 24vw;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  z-index: 105;
  transform: translateY(0);
  transition: transform 0.3s ease-in;
}

.modal_closing {
  transform: translateY(10rem);
  transition: transform 0.3s ease-out;
}

.modal_entering {
  position: absolute;
  width: 48vw;
  height: 55vh;
  top: 22.5vh;
  left: 24vw;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  z-index: 105;
  transform: translateY(-10rem);
}

.imgcontainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 15rem;
  max-height: 50%;
  margin: 0 3rem;
}

.contentcontainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contentcontainer span {
  color: rgba(0, 85, 15, 0.904);
  font-weight: bolder;
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.contentcontainer .h3 {
  color: rgb(177, 177, 177);
  font-weight: bolder;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  border: none;
  margin: 0 0.1rem;
  text-align: center;
  width: 2rem;
}

.white_button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(206, 206, 206);
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 0;
  cursor: pointer;
}

.green_button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(206, 206, 206);
  font-size: 1rem;
  color: white;
  background-color: #2b8303;
  font-weight: bolder;
  margin-top: 0;
  cursor: pointer;
}

.quantity_container {
  align-self: center;
  margin-bottom: 1rem;
}

.button_container {
  align-self: center;
  width: 70%;
}

.button_container button {
  width: 100% !important;
}

.closing_button_container {
  display: flex;
  justify-content: flex-end;
}

.closing_button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  background-color: white;
  margin-right: 1rem;
  cursor: pointer;
  /* margin-left: auto; */
}
</style>
