<template>
  <template></template>
</template>

<script>
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
import useAutoLogin from "../hooks/autoLogin.js";
import { onBeforeMount, onBeforeUnmount } from "vue";

export default {
  setup() {
    const route = useRoute();
    const router = useRouter();
    const store = useStore();

    let timer;

    onBeforeUnmount(()=>{
      clearTimeout(timer);
    })

    onBeforeMount(() => {
      const token = route.query.token;
      if (token) {
        timer = useAutoLogin(token);
        localStorage.setItem("token", token);
        router.push("/welcome");
      } else {
        const error = route.query.error;
        store.dispatch("auth/errorAdquired", error);
      }
    });
  },
};
</script>

<style></style>
