<template>
  <div class="main">
    <FullScreenDialog v-if="modal">
      <ViewModal :isVisible="modal === 'detail'" v-if="modal === 'detail'" />
      <CartModal :visible="modal === 'cart'" v-if="modal === 'cart'" />
    </FullScreenDialog>
    <Spinner v-if="isSpinner" />
    <div class="card_container">
      <Card
        v-for="item in items"
        :key="item.code"
        :imgsrc="item.imageUrl"
        :description="item.description"
        :code="item.code"
        :price="item.price"
        :verButtonHandler="
          () => {
            onSeeButton(item);
          }
        "
        :addItemHandler="
          () => {
            onAddItem(item);
          }
        "
      />
    </div>
  </div>
</template>

<script>
import Card from "../components/UI/Card.vue";
import FullScreenDialog from "../components/layout/FullScreenDialog.vue";
import Spinner from '../components/layout/Spinner.vue';
import ViewModal from "../components/layout/ViewModal.vue";
import CartModal from "../components/layout/CartModal.vue";
import { onBeforeMount, computed, ref } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

export default {
  components: {
    Card,
    FullScreenDialog,
    ViewModal,
    CartModal,
    Spinner
  },
  setup() {
    const router = useRouter();
    const store = useStore();

    const modal = computed(() => {
      return store.getters["cart/modal"];
    });

    const isSpinner = computed(() => {
      return store.getters["cart/spinner"];
    });

    const items = computed(() => {
      return store.getters["items/filteredItems"];
    });

    const isAuth = ref(store.getters["auth/isAuthenticated"]);

    const cartitems = ref(store.getters["cart/cartItems"]);

    onBeforeMount(() => {
      store.dispatch("items/fetch");
    });

    const onSeeButton = (product) => {
      store.dispatch("cart/openModal", product);
    };

    const onAddItem = (product) => {
      if (isAuth.value) {
        store.dispatch("cart/addToCart", { item: product, quantity: 1 });
      } else {
        router.push("/googleauth");
      }
    };

    return { items, onAddItem, onSeeButton, cartitems, modal, isSpinner };
  },
};
</script>

<style scoped>
.fsdialog-enter-to {
  opacity: 1;
}

.fsdialog-enter-from {
  opacity: 0;
}

.fsdialog-enter-active {
  transition: opacity 0.5s ease-in;
}

.fsdialog-leave-active {
  transition: opacity 2s ease-in;
}

.fsdialog-leave-from {
  opacity: 1;
}

.fsdialog-leave-to {
  opacity: 0;
}

.vm-enter-to {
  transform: translateY(0);
}

.vm-enter-from {
  transform: translateY(-10rem);
}

.vm-enter-active {
  transition: transform 2s ease-in;
}

.vm-leave-active {
  transition: transform 2s ease-out;
}

.vm-leave-from {
  transform: translateY(0);
}

.vm-leave-to {
  transform: translateY(-10rem);
}

.main {
  position: relative;
  top: 6.5vh;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  background-color: rgb(255, 247, 247);
  padding-top: 1rem;
  color: rgb(130, 130, 130);
  overflow: scroll;
}

.title {
  color: rgb(130, 130, 130);
  font-size: 1.8rem;
  margin-left: 10%;
}

.card_container {
  margin: 1rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(255, 247, 247);
  margin-bottom: 2rem;
}

.alertEnter {
  opacity: 0;
}
.alertEnterActive {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
.alertExit {
  opacity: 1;
}
.alertExitActive {
  opacity: 0;
  transition: opacity 600ms ease-out;
}

.visible {
  z-index: 105;
}
</style>
