<template>
  <Sidebar />
  <Header />
  <router-view />
</template>

<script>
import Sidebar from "./components/layout/Sidebar";
import Header from "./components/layout/Header";
import { onBeforeMount, onBeforeUnmount } from "vue";
import useAutoLogin from "./hooks/autoLogin.js";


export default {
  name: "App",
  components: { Sidebar, Header },
  setup() {

    let timer;

    onBeforeUnmount(() => {
      clearTimeout(timer);
    });

    onBeforeMount(() => {
      const token = localStorage.getItem("token");
      if (token) {
        timer = useAutoLogin(token);
        
      }
    });
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  /* font-family: 'Roboto', sans-serif; */
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
}
/* 
html{
  /* height: 100%; */
/* } */

/* html{} */

/* html{
  
} */

.container {
  top: 0;
  left: 0;
}
</style>
