<template>
  <div :class="cssClasses.join(' ')">
    <slot></slot>
  </div>
</template>

<script>
import { watch, computed, ref } from "vue";

import { useStore } from "vuex";

export default {
  setup() {
    const cssClasses = ref(["badge"]);
    const store = useStore();
    const quantity = computed(() => {
      return store.getters["cart/counter"];
    });
    watch(quantity, () => {
      cssClasses.value = ["badge", "bump"];
      setTimeout(() => {
        cssClasses.value = ["badge"];
      }, 300);
    });
    return { cssClasses };
  },
};
</script>

<style scoped>
.badge {
  border-radius: 50%;
  border: 0.3rem solid red;
  background-color: red;
  color: white;
  position: absolute;
  font-size: 0.9rem;
  font-weight: bolder;
  left: 20%;
  top: 23px;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 300ms ease-out;
}

.bump {
  transform: scale(1.1);
  background-color: orange;
  border: 0.3rem solid orange;
  transition: transform 300ms ease-in;
}
</style>
