<template>
  <button @click="clickHandler" :style="styles">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: ["width", "height", "text", "clickHandler"],
  setup(props) {
    const styles = [
      props.width ? "width: " + props.width : "",
      props.height ? "height: " + props.height : "",
    ];
    return {
      styles: styles.join("; "),
    };
  },
};
</script>

<style scoped>
.Button-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: 0.01rem solid #2b8303;
  color: white;
  font-weight: bolder;
  background-color: #2b8303;
  text-align: center;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(206, 206, 206);
}

button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: 0.01rem solid #2b8303;
  color: white;
  font-weight: bolder;
  background-color: #2b8303;
  text-align: center;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(206, 206, 206);
}
</style>
