<template>
  <div class="card">
    <div class="imgcontainer">
      <Dialog>
        <base-button style="margin-top:0.5rem;" :clickHandler="verButtonHandler" width="4rem"
          >Ver</base-button
        >
        <base-button style="margin-top:0.5rem;" :clickHandler="addItemHandler" width="5rem">Agregar</base-button>
      </Dialog>
      <img :src="imgsrc" alt="product" />
    </div>
    <h3>{{ description }}</h3>
    <h5>SKU: {{ code }}</h5>
    <h1>$ {{ price }}</h1>
    <h4>gramo a $ {{ price / 1000 }}</h4>
  </div>
</template>

<script>
import Dialog from "./Dialog.vue";

export default {
  components: { Dialog },
  props: ["description", "imgsrc", "price", "code", "verButtonHandler", "addItemHandler"],
};
</script>

<style scoped>
.card {
  border: 0.1rem solid rgb(192, 192, 192);
  transform: scale(1);
  width: 22%;
  height: 20rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.imgcontainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0.2rem 0.2rem;
}

.card img {
  width: auto;
  height: 10rem;
  max-height: 100%;
  max-width: 100%;
  border-radius: 1.2rem;
  padding: 1rem 1rem;
}

.card h3 {
  font-size: 0.9rem;
  font-weight: lighter;
  color: black;
  margin: 0.3rem 0;
  text-align: center;
  padding: 0rem 0.2rem;
}

.card h4 {
  font-size: 0.8rem;
  font-weight: lighter;
  color: black;
  margin: 0.3rem 0;
  text-align: center;
}

.card h5 {
  font-size: 0.8rem;
  font-weight: lighter;
  margin: 0.5rem 0;
  text-align: center;
}

.card h1 {
  color: rgba(0, 85, 15, 0.904);
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 0.3rem 0;
  text-align: center;
}

.card:hover {
  transform: scale(1.06);
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(192, 192, 192);
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}
</style>
