<template>
  <div class="cartlogo" @click="openCartModal">
    <Badge>{{ cartQuantity }}</Badge>
    <img
      class="cartlogoimage"
      src="../../assets/shopping-cart-icon.png"
      alt="CartLogo"
    />
  </div>
</template>

<script>
import cartlogo from "../../assets/logo.png";
import Badge from "./Badge";
import { computed } from "vue";
import { useStore } from "vuex";

export default {
  setup() {
    const store = useStore();

    const openCartModal = () => {
      store.dispatch("cart/openCartModal");
    };

    const cartQuantity = computed(() => {
      return store.getters["cart/counter"];
    });
    return { cartlogo, cartQuantity, openCartModal };
  },
  components: {
    Badge,
  },
};
</script>

<style scoped>
.cartlogo {
  border-left: 0.1rem solid rgb(190, 190, 190);
  border-right: 0.1rem solid rgb(190, 190, 190);
  display: flex;
  cursor: pointer;
  position: relative;
  right: 0rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.cartlogoimage {
  width: 4rem;
  height: 3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin: 0 0;
}
</style>
