<template>
  <div>
    <base-input :onChangeHandler="onChangeHandler" :placeholder="placeholder" />
    <base-button>
      <fa icon="search" />
    </base-button>
  </div>
</template>

<script>
export default {
  props: ["placeholder", "onChangeHandler"],
};
</script>

<style scoped>
div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
</style>
