<template>
  <div class="container">
    <div class="imgContainer">
      <img :src="item.item.imageUrl" alt="imagen descriptiva" />
    </div>
    <div class="dataholder">
      <p>{{ item.item.description }}</p>
      <p class="unidad">Unidad:</p>
      <p>$ {{ item.item.price }}</p>
    </div>
    <div class="quantityContainer">
      <button @click="removeHandler" class="white_button">-</button>
      <p>{{ item.quantity }}</p>
      <button @click="addHandler" class="green_button">+</button>
    </div>
    <div class="subtotal">$ {{ item.quantity * item.item.price }}</div>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed } from "vue";

export default {
  props: ["item"],
  setup(props) {
    const store = useStore();
    const token = computed(() => {
      return store.getters["auth/token"];
    });
    const counter = computed(() => {
      return store.getters["cart/counter"];
    });

    const addHandler = () => {
      store.dispatch("cart/addToItem", props.item);
    };
    const removeHandler = () => {
      store.dispatch("cart/minusToItem", props.item);
      const payload = {
        items: [],
        token: token.value
      };
      if (counter.value === 0) {
        store.dispatch("cart/saveCart", payload);
      }
    };
    return { removeHandler, addHandler, counter };
  },
};
</script>

<style scoped>
.container {
  width: 90%;
  height: 8rem;
  margin-left: 5%;
  border-radius: 1rem;
  background-color: white;
  /* border: 0.2rem solid black; */
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(192, 192, 192);
  z-index: 105;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container img {
  width: 6rem;
  height: 6rem;
  margin-left: 0.5rem;
}

.dataholder {
  width: 30%;
  margin-left: 2rem;
}

.dataholder :last-child {
  color: rgba(0, 85, 15, 0.904);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.unidad {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.imgContainer {
  width: 20%;
}

.quantityContainer {
  width: 20%;
  display: flex;
  align-items: center;
}

.quantityContainer p {
  font-size: 1.2rem;
  font-weight: bolder;
  color: rgb(1, 16, 221);
}

.quantityContainer button {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.8rem;
  font-weight: bolder;
}

.subtotal {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgba(0, 85, 15, 0.904);
  margin-left: 2rem;
}
</style>
